@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.rodape {
  background-color: rgb(232, 230, 235, 1);
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.conteudo-rodape {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 32px;
  width: 60%;
}

.texto-rodape {
  font-family: Montserrat, Arial;
  font-style: italic;
  font-size: 22px;
  font-weight: 400;
  color: #150a3b;
  line-height: 40px;
  width: 80%;
}

.nome-rodape {
  font-family: Montserrat, Arial;
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
  color: #150a3b;
}

.conteudo-rodape-contato {
  display: flex;
  flex-direction: row;
  gap: 32px;
  
}

.conteudo-rodape-contato-texto{
  font-family: Montserrat, Arial;
  color: #150a3b;
  font-size: 22px;
}
