@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap");

.acompanhamento {
  background-color: rgb(232, 230, 235, 1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1% 8% 1% 8%;
}

.foto-em-pé {
  width: 40%;
}

.acompanhamento-texto {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
  font-family: "Outfit", sans-serif;
}

.acompanhamento-texto-titulo {
  color: #150a3b;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  margin-top: 50px;
}

.acompanhamento-texto-paragrafo {
  color: #150a3b;
  font-size: 1.3rem;
}

@media screen and (max-width: 1150px) {
  .foto-em-pé {
    width: 50%;
  }
  .acompanhamento-texto-paragrafo {
    color: black;
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .foto-em-pé {
    display: none;
  }
  .acompanhamento-texto {
    width: 90%;
  }
  .acompanhamento-texto-titulo {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .foto-em-pé {
    display: none;
  }
  .acompanhamento-texto {
    width: 100%;
  }
  .acompanhamento-texto-titulo {
    text-align: center;
    font-size: 1.5rem;
    width: 90%;
  }
  .acompanhamento-texto-paragrafo {
    font-size: 1rem;
    text-align: justify;
    color: #150a3b;
    font-weight: 300;
  }
}
