.perguntas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 40px 0;
    width: 100%;
    background-color: rgb(11, 11, 54);
}

.perguntas-itens {
    flex: 1.5; /* maior que a foto para ficar como no print */
    display: flex;
    flex-direction: column;
    align-items: center; /* centraliza tudo */
}

.perguntas-foto {
    flex: 1;
    display: flex;
    justify-content: center;
}

.foto-pergunta {
    width: 90%;
    max-width: 450px;
    border-radius: 12px;
    object-fit: cover;
}

.faq-item {
    background: #2ec2b9;
    margin: 12px 0;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
    width: 70%;
}

.faq-title {
    padding: 16px;
    font-size: 1.2rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    text-transform: uppercase;
}

.faq-content {
    background: #f5f5f5;
    padding: 18px;
    display: none;
    color: #150a3b;
    font-size: 1.2rem;
    line-height: 1.6;
}

.faq-item.open .faq-content {
    display: block;
}

.faq-item.open .icon {
    transform: rotate(45deg); /* vira o + em x */
}

.icon {
    font-size: 1.5rem;
    transition: 0.2s ease;
}

.list-item{
    list-style: none;
}