.perguntas {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 100px 0px 0px 0px;
  width: 100%;
  background-color: rgb(232, 230, 235, 1);
}

.perguntas-itens {
  flex: 1.5; /* maior que a foto para ficar como no print */
  display: flex;
  flex-direction: column;
  align-items: center; /* centraliza tudo */
  gap: 12px;
}

.faq-item {
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  width: 70%;
}

.faq-title {
  padding: 16px;
  font-size: 1.2rem;
  color: #150a3b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  text-transform: uppercase;
}

.faq-content {
  padding: 18px;
  display: none;
  color: #150a3b;
  font-size: 1.2rem;
  line-height: 1.6;
}

.faq-item.open .faq-content {
  display: block;
}

.faq-item.open .icon {
  transform: rotate(45deg); /* vira o + em x */
}

.icon {
  font-size: 1.5rem;
  transition: 0.2s ease;
}

.list-item {
  list-style: none;
}

@media screen and (max-width: 1150px) {
}

@media screen and (max-width: 768px) {
  .perguntas-titulo {
    text-align: center;
  }
}
