@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.perguntas {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 100px 0px 0px 0px;
  width: 100%;
  background-color: rgb(232, 230, 235, 1);
}

.perguntas-itens {
  flex: 1.5; /* maior que a foto para ficar como no print */
  display: flex;
  flex-direction: column;
  align-items: center; /* centraliza tudo */
  gap: 12px;
}

.faq-item {
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  width: 70%;
}

.perguntas-titulo {
  color: #150a3b;
  font-family: Montserrat, Arial;
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  border-top: 1px solid #8980ac;
  padding-top: 50px;
}

.faq-title {
  padding: 16px;
  font-family: Montserrat, Arial;
  font-size: 1.7rem;
  color: #150a3b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.faq-content {
  padding: 18px;
  font-family: Montserrat, Arial;
  display: none;
  color: #150a3b;
  font-size: 1.2rem;
  line-height: 1.6;
}

.faq-item.open .faq-content {
  display: block;
}

.faq-item.open .icon {
  transform: rotate(180deg); /* vira o + em x */
  transition: transform 0.3s ease;
}

.icon {
  font-size: 1.5rem;
  transition: 0.2s ease;
}

.list-item {
  list-style: none;
}
@media screen and (max-width: 1050px) {
  .perguntas-titulo {
    text-align: center;
    width: 60%;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 768px) {
  .perguntas-titulo {
    text-align: center;
    width: 90%;
  }

  .faq-item {
    width: 90%;
    margin: 0px 30px;
  }
}

@media screen and (max-width: 500px) {
  .perguntas-titulo {
    text-align: center;
    width: 75%;
    font-weight: 600;
    font-size: 1.2rem;
  }

  .faq-item {
    width: 90%;
    margin: 0px 30px;
  }

  .faq-title {
    font-size: 1rem;
    font-weight: 600;
  }

  .faq-content p {
    font-size: 1rem;
    font-family: Montserrat, Arial;
    font-weight: 400;
  }
}
