@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap");

.vantagens {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(232, 230, 235, 1);
}

.vantagens-conteudos {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: rgb(182, 180, 184);
  border-radius: 16px;
  padding: 12px;
  border: 1px solid black;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.3);
}

.vantagens-conteudo {
  display: flex;
  gap: 12px;
  color: white;
  font-family: Roboto, sans-serif;
}

.vantagens-titulo {
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
}

#icon-check {
  color: rgb(14, 143, 14);
}

@media screen and (max-width: 1150px) {
  .vantagens-conteudos {
    width: 60%;
  }

  .vantagens-titulo {
    width: 60%;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .vantagens-conteudos {
    width: 60%;
  }

  .vantagens-titulo {
    width: 60%;
    text-align: center;
  }
}
