@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap");

.vantagens {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgb(232, 230, 235, 1);
}

.vantagens-conteudos {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 12px;
  width: 80%;
}

.vantagens-conteudo {
  display: flex;
  gap: 10px;
  color: #150a3b;
  font-family: Roboto, sans-serif;
  padding: 0px 100px;
}

.vantagens-titulo {
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: Roboto, sans-serif;
  color: #150a3b;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.check {
  width: 25px;
  height: 25px;
  background-color: #15cc15;
  border-radius: 1px;
  position: relative;
  flex-shrink: 0;
  border: 1px solid black;
}

.check::after {
  content: "✔";
  color: white;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
}

p {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .vantagens-conteudos {
    width: 60%;
  }

  .vantagens-titulo {
    width: 60%;
    text-align: center;
  }
}
